adium-theme-ubuntu==0.3.4
beautifulsoup4==4.4.1
bleach==1.4.3
certifi==2018.4.16
chardet==2.3.0
dblatex==0.3.7.post1
dj-static==0.0.6
dj-database-url==0.4.1
Django==2.0
duplicity==0.7.6
gunicorn==19.6.0
gyp==0.1
Markdown==2.6.6
html5lib==0.999
lockfile==0.12.2
lxml==3.5.0
Pillow==3.3.0
pipenv==2018.5.18
psycopg2==2.7.4
pygobject==3.20.0
python-decouple==3
python-apt==1.1.0b1+ubuntu0.16.4.1
pytz==2018.4
six==1.10.0
sqlparse==0.1.18
Unipath==1.0
virtualenv==16.0.0
virtualenv-clone==0.3.0
whitenoise-3.3.1
