{% extends "base.html" %}


{% block title %}

sportpesajp.com - provides free football tips and predictions, jackpot analysis, free analysis, football form and statistics, Sportpesa Jackpot,  Prediction site, Correct football matches prediction, Sportpesa games today, sportpesa games analysis, Winning sports tips| Best football prediction, Analysis and tips

{% endblock %}

{% block header %}

{% include "header.html" %}

{% endblock %}

{% block content %}

{% for item in freetips %}

  {% if forloop.first %}
         <i><h4>{{item.published_date}}<h4></i>
     {%endif%}
  {% endfor %}


  <h3 style="color: violet; font-style: italic; font-family: Helvetica" align = "center">
  	WE OFFER DAILY AND WEEKLY VIP TIPS OF <font style="color: Limegreen; font-size: 120%">10+ ODDS</font> DAILY AT <font style="color: Limegreen; font-size: 120%">KSH.500 FOR WEEKLY AND KSH.200 FOR DAILY</font>
  </h3>

  <h3 style="color: blue; font-style: italic; font-family: Helvetica" align = "center">
   CONTACT ADMIN NOW <font style="color: red; font-size: 120%">0713006372</font> FOR MORE INFORMATION
   </h3>

  <h3 style="color: red; font-family: courier; font-size: 110%; ">
     The scores are not correct scores please. They are estimated outcome of goals
  </h3>

  <table border="2" cellpadding = "5">

    <tr style='background-color: #002147'>
  <th style='color: white'>Country</th>
  <th style='color: white'>Home Team</th>
  <th style='color: white'>Home Score</th>
  <th style='color: white'>Away Score</th>
  <th style='color: white'>Away Team</th>
  <th style='color: white'>Safety</th>
  <th style='color: white'>Prediction</th>
  <th style='color: white'>Status</th>
  </tr>

      {% for item in freetips %}
      <tr>
          <td style='background-color: 	#87CEEB;' >{{ item.country }}</td>

          <td >{{ item.home_team }}</td>

          <td style='background-color: #87CEEB;' >{{ item.home_score}}</td>

          <td style='background-color: #87CEEB;' >{{ item.away_score}}</td>

          <td>{{ item.away_team}}</td>

          <td style='background-color: #9EB9D4;' >{{ item.safety}}</td>

          <td style='background-color: #87CEEB;' >{{ item.prediction}}</td>

          {% if item.status == 'Lost' %}

          <td style='background-color: #FF5733;'>{{ item.status}}</td>

          {% elif item.status == 'Won' %}

          <td style='background-color: Limegreen;' >{{ item.status}}</td>

          {% else %}

          <td >{{ item.status}}</td>

          {% endif %}


      </tr>
      {% endfor %}
  </table>

<br>
<form action="/results/" method="post">
  {% csrf_token %}
 <label for="previous"></label>
      <div  align="right" ><input type="submit" id="back" name="previous"value=" RESULTS"   /> </div>
 </form>
 <br>


{% endblock %}

{% block footer %}

{% include "footer.html" %}

{% endblock %}
