{% extends "base.html" %}


{% block title %}

sportpesajp.com - provides free football tips and predictions, jackpot analysis, free analysis, football form and statistics, Sportpesa Jackpot,  Prediction site, Correct football matches prediction, Sportpesa games today, sportpesa games analysis, Winning sports tips| Best football prediction, Analysis and tips

{% endblock %}

{% block header %}

{% include "header.html" %}

{% endblock %}

{% block content %}

{% for item in freetips %}

  {% if forloop.first %}
         <i><h4>{{item.published_date}}<h4></i>
     {%endif%}
  {% endfor %}


  <h3 style="color: violet; font-style: italic; font-family: Helvetica" align = "center">
  	WE OFFER DAILY AND WEEKLY VIP TIPS OF <font style="color: Limegreen; font-size: 120%">10+ ODDS</font> DAILY AT <font style="color: Limegreen; font-size: 120%">KSH.500 FOR WEEKLY AND KSH.200 FOR DAILY</font>
  </h3>

  <h3 style="color: blue; font-style: italic; font-family: Helvetica" align = "center">
   CONTACT ADMIN NOW <font style="color: Limegreen; font-size: 120%">0713006372</font> FOR MORE INFORMATION
   </h3>

  <h3 style="color: red; font-family: courier; font-size: 110%; ">
     Payment is Through M-PESA <font style="color: Limegreen; font-size: 120%">0713006372</font>
  </h3>

  <table border="2" cellpadding = "5">

    <tr style='background-color: #002147'>
  <th style='color: white'>Country</th>
  <th style='color: white'>Home Team</th>
  <th style='color: white'>Home Score</th>
  <th style='color: white'>Away Score</th>
  <th style='color: white'>Away Team</th>
  <th style='color: white'>Safety</th>
  <th style='color: white'>Prediction</th>
  <th style='color: white'>Status</th>
  </tr>

      {% for item in freetips %}
      <tr>
          <td style='background-color: 	#87CEEB;' >{{ item.country }}</td>

          <td >{{ item.home_team }}</td>

          <td style='background-color: #87CEEB;' >{{ item.home_score}}</td>

          <td style='background-color: #87CEEB;' >{{ item.away_score}}</td>

          <td>{{ item.away_team}}</td>

          <td style='background-color: #9EB9D4;' >{{ item.safety}}</td>

          <td style='background-color: #87CEEB;' >{{ item.prediction}}</td>

          {% if item.status == 'Lost' %}

          <td style='background-color: #FF5733;'>{{ item.status}}</td>

          {% elif item.status == 'Won' %}

          <td style='background-color: Limegreen;' >{{ item.status}}</td>

          {% else %}

          <td >{{ item.status}}</td>

          {% endif %}


      </tr>
      {% endfor %}
  </table>

<br>
<form action="/results/" method="post">
  {% csrf_token %}
 <label for="previous"></label>
      <div  align="right" ><input type="submit" id="back" name="previous"value=" RESULTS"   /> </div>
 </form>
 <br>

 <!-- Histats.com  (div with counter) --><div id="histats_counter"></div>
<!-- Histats.com  START  (aync)-->
<script type="text/javascript">var _Hasync= _Hasync|| [];
_Hasync.push(['Histats.start', '1,4108391,4,27,120,50,00011111']);
_Hasync.push(['Histats.fasi', '1']);
_Hasync.push(['Histats.track_hits', '']);
(function() {
var hs = document.createElement('script'); hs.type = 'text/javascript'; hs.async = true;
hs.src = ('//s10.histats.com/js15_as.js');
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(hs);
})();</script>
<noscript><a href="/" target="_blank"><img  src="//sstatic1.histats.com/0.gif?4108391&101" alt="counter create hit" border="0"></a></noscript>
<!-- Histats.com  END  -->

{% endblock %}

{% block footer %}

{% include "footer.html" %}

{% endblock %}
