{% extends "main_template.html" %}

{% block title %}

Sportpesajp - VipTips

{% endblock %}

{% block header %}

{% include "header.html" %}

{% endblock %}

{% block content %}


<div align = "center">


<h3>
  Welcome To Vip Payment Methods
</h3>


<table style="border:1px solid black" width="50%" bgcolor="#F5FFFA">
<tr>
  <th  width="400" bgcolor="#D3D3D3" style="color:blue" >Registration Instructions</th>
</tr>
<tr>
  <td> 1. Kindly go to M-PESA menu and select Lipa na M-PESA</td>
</tr>
<tr>
  <td></td>
</tr>
<tr>
  <td> 2. Select Buy Goods and Services </td>
</tr>
<tr>
  <td> 3. Enter Till Number <font style="color: red">806019</font> </td>
</tr>
<tr>
  <td> 4. Enter Amount <font style="color: red">KSH.700</font> </td>
</tr>
<tr>
  <td> 5. Press OK to complete the transaction </td>
</tr>
<tr>
  <td></td>
</tr>
<tr>
  <td> After making your payment send the following details to; </td>
</tr>
<tr>
  <td style="color: maroon; font-family: courier; font-size: 110%; " > palsbet1@gmail.com <font style="color: blue" >OR</font> whatsapp/sms +254798265307 </td>
</tr>
<tr>
  <td></td>
</tr>
<tr>
  <td> a). Your Full Names as registered with M-PESA </td>
</tr>
<tr>
  <td> b). M-PESA Payment code e.g <font style="color: red">KVL6NDFHG</font> </td>
</tr>
<tr>
  <td> c). Your mobile phone number e.g <font style="color: red">0798265307</font> </td>
</tr>
<tr>
  <td></td>
</tr>
<tr>
  <td></td>
</tr>
<tr>
  <td> Your Log In Credentials Will Be; </td>
</tr>
<tr>
  <td> Username => (Mobile Phone Number e.g <font style="color: red">0798265307</font>) </td>
</tr>
<tr>
  <td> password => (M-PESA Payment Code e.g <font style="color: red">KVL6NDFHG</font> ) </td>
</tr>

</table>


{% endblock %}

{% block footer %}

{% include "footer.html" %}

{% endblock %}
